################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HardwareProviders/v15
/HardwareProviders/.vs/HardwareProviders/v15/Server/sqlite3
/HardwareProviders/bin/Debug
/HardwareProviders/obj/Debug
/HardwareProviders.Board/bin/Debug
/HardwareProviders.Board/obj/Debug
/HardwareProviders.CPU/bin/Debug
/HardwareProviders.CPU/obj/Debug
/HardwareProviders.HDD/bin/Debug
/HardwareProviders.HDD/obj/Debug
/.vs/HardwareProviders/DesignTimeBuild
/HardwareProviders.Board.Standard/obj
/HardwareProviders.CPU.Standard/obj
/HardwareProviders.HDD.Standard/obj
/HardwareProviders.Standard/obj
/TestApp/bin/Debug
/TestApp/obj/Debug
/HardwareProviders/bin/Release
/HardwareProviders/obj/Release
/HardwareProviders.Board/bin/Release
/HardwareProviders.Board/obj/Release
/HardwareProviders.Board.Standard/bin/Debug/netstandard2.0
/HardwareProviders.Board.Standard/bin/Release/netstandard2.0
/HardwareProviders.CPU/bin/Release
/HardwareProviders.CPU/obj/Release
/HardwareProviders.CPU.Standard/bin
/HardwareProviders.HDD/bin/Release
/HardwareProviders.HDD.Standard/bin
/HardwareProviders.Standard/bin
/TestApp/bin/Release
/TestApp/obj/Release
/HardwareProviders.Board.Standard/bin/Release
/ApiService/bin
/ApiService/obj
/packages/Microsoft.ApplicationInsights.2.5.1/lib
/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.4.0/lib
/packages
/HardwareProviders.Board.Standard/bin/Debug
/.vs
/ApiService/obj
/ApiService/bin
/HardwareProviders/obj
/HardwareProviders/bin
/HardwareProviders.Board/obj
/HardwareProviders.Board/bin
/HardwareProviders.Board.Standard/obj
/HardwareProviders.Board.Standard/bin
/HardwareProviders.CPU/obj
/HardwareProviders.CPU/bin
/HardwareProviders.CPU.Standard/obj
/HardwareProviders.CPU.Standard/bin
