/bin
/obj
/.vs
/Workday.AbsenceManagement/bin
/Workday.AbsenceManagement/obj
/Workday.AcademicAdvising/bin
/Workday.AcademicAdvising/obj
/Workday.AcademicFoundation/bin
/Workday.AcademicFoundation/obj
/Workday.AdmissionsService/bin
/Workday.AdmissionsService/obj
/Workday.BenefitsAdministration/bin
/Workday.BenefitsAdministration/obj
/Workday.CampusEngagement/bin
/Workday.CampusEngagement/obj
/Workday.CashManagement/bin
/Workday.CashManagement/obj
/Workday.Compensation/bin
/Workday.Compensation/obj
/Workday.CompensationReview/bin
/Workday.CompensationReview/obj
/Workday.DynamicDocumentGeneration/bin
/Workday.DynamicDocumentGeneration/obj
/Workday.ExternalIntegrations/bin
/Workday.ExternalIntegrations/obj
/Workday.FinancialAid/bin
/Workday.FinancialAid/obj
/Workday.FinancialManagement/bin
/Workday.FinancialManagement/obj
/Workday.HumanResources/bin
/Workday.HumanResources/obj
/Workday.IdentityManagement/bin
/Workday.IdentityManagement/obj
/Workday.Integrations/bin
/Workday.Integrations/obj
/Workday.Inventory/bin
/Workday.Inventory/obj
/Workday.Notification/bin
/Workday.Notification/obj
/Workday.Payroll/bin
/Workday.Payroll/obj
/Workday.Payroll.Can/bin
/Workday.Payroll.Can/obj
/Workday.Payroll.Fra/bin
/Workday.Payroll.Fra/obj
/Workday.Payroll.Gbr/bin
/Workday.Payroll.Gbr/obj
/Workday.Payroll.Interface/obj
/Workday.Payroll.Interface/bin
/Workday.PerformanceManagement/bin
/Workday.PerformanceManagement/obj
/Workday.ProfessionalServicesAutomation/obj
/Workday.ProfessionalServicesAutomation/bin
/Workday.Recruiting/obj
/Workday.Recruiting/bin
/Workday.ResourceManagement/bin
/Workday.ResourceManagement/obj
/Workday.RevenueManagement/obj
/Workday.RevenueManagement/bin
/Workday.SettlementServices/bin
/Workday.SettlementServices/obj
/Workday.Staffing/obj
/Workday.Staffing/bin
/Workday.StudentFinance/bin
/Workday.StudentFinance/obj
/Workday.StudentRecords/bin
/Workday.StudentRecords/obj
/Workday.StudentRecruiting/bin
/Workday.StudentRecruiting/obj
/Workday.Talent/bin
/Workday.Talent/obj
/Workday.TenantDataTranslation/obj
/Workday.TimeTracking/obj
/Workday.WorkforcePlanning/obj
/Workdays.WorkdayExtensibility/obj
/Workday.WorkdayConnect/obj
/Workday.TenantDataTranslation/bin
/Workday.WorkforcePlanning/bin
/Workdays.WorkdayExtensibility/bin
/Workday.WorkdayConnect/bin
/Workday.TimeTracking/bin
